{% extends 'form.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block form %}


    <div class="mb-3">
        <label class="form-label">INGRESE LA FECHA DE INICIO PARA GENERAR LAS CITAS:</label>
        <input class="form-control" type="text" id="date_timepicker_start" autocomplete="off">
    </div>

    <div class="mb-3">
        <label class="form-label">INGRESE LA FECHA FINAL PARA GENERAR LAS CITA:</label>
        <input class="form-control" type="text" id="date_timepicker_end" autocomplete="off">
    </div>

{% endblock form %}

{% block sedes_fechas %}
    <div class="mb-3 container-fluid" role="group" aria-label="Basic checkbox toggle button group">
        <div class="mb-3">
            <label class="form-label">SELECCIONE LAS SEDES PARA APLICAR LAS FECHAS DE LAS CITAS:</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Seleccionar todas las sedes
            </label>
        </div>


        <div class="mb-3" id="sedes-fecha-div">
            {% for sede in  sedes %}
                <input type="checkbox" class="btn-check" id="btncheck{{ forloop.counter }}" value="{{ sede }}"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck{{ forloop.counter }}"> {{ sede }}</label>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function seleccionar_sedes() {
            activado = false
            $('#flexCheckDefault').on('click', function () {
                if (activado == false) {
                    $(".btn-check").prop('disabled', true);
                    $(".btn-check").prop('checked', true).parent().addClass('active');
                    activado = true
                } else {
                    $(".btn-check").prop('disabled', false);
                    $(".btn-check").prop('checked', false).parent().addClass('active');
                    activado = false
                }
            });
        }


        $(function () {

            //datetime inputs settings
            $('#date_timepicker_start').datetimepicker({
                onShow: function () {
                    this.setOptions({
                        maxDate: $('#date_timepicker_end').val() ? $('#date_timepicker_end').val() : false
                    })
                },
                timepicker: true
            });
            $('#date_timepicker_end').datetimepicker({
                onShow: function () {
                    this.setOptions({
                        minDate: $('#date_timepicker_start').val() ? $('#date_timepicker_start').val() : false
                    })
                },
                timepicker: true
            });

            //checkbox settings
            seleccionar_sedes();

        });
    </script>
{% endblock js %}


