{% extends 'form.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block form %}
    <div class="mb-3">
        <label class="form-label">INGRESE LA FECHA DE INICIO PARA GENERAR LAS CITAS:</label>
        <input class="form-control" type="text" id="date_timepicker_start" autocomplete="off">
    </div>

    <div class="mb-3">
        <label class="form-label">INGRESE LA FECHA FINAL PARA GENERAR LAS CITA:</label>
        <input class="form-control" type="text" id="date_timepicker_end" autocomplete="off">
    </div>


{% endblock form %}

{% block sedes_fechas %}
    <div class="mb-3 container-fluid" role="group" aria-label="Basic checkbox toggle button group">
        <div class="mb-3">
            <label class="form-label">SELECCIONE LAS SEDES PARA APLICAR LAS FECHAS DE LAS CITAS:</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input selecciona-todas-sedes" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Seleccionar todas las sedes
            </label>
        </div>


        <div class="mb-3" id="sedes-fecha-div">
            {% for sede in  sedes %}
                <input type="checkbox" class="btn-check sedes-btn" id="btncheck{{ forloop.counter }}" value="{{ sede }}"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck{{ forloop.counter }}"> {{ sede }}</label>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block form_footer %}
    <div class="modal-footer position-relative">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success submit-btn" id="modal-close-btn">Aceptar</button>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'fecha/fecha.js' %}"></script>
    <script src="{% static 'js/enviar_ajax.js' %}"></script>
    <script>
        $(function () {

            //datetime inputs settings
            datetimepicker_settings();

            //checkbox settings
            seleccionar_sedes();

            obtener_sedes();

            $('#exampleModal').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
            })

        });
    </script>
{% endblock js %}


