* {
    font-family: 'Mulish', sans-serif;
}


.table {
    min-width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 2vh;
    color: white;
}

.dropdown-acciones {
    overflow: hidden;
}

#main_navbar {
    background: #2b3e54;

}


.main-sidebar {
    background: #010a0f;
    color: #F57C00;
    min-height: 100%;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    background-color: rgba(90, 164, 227, 0.22);
}


.btnCreate {
    margin-bottom: 4vh;
}

.content-wrapper {
    background: #edeced;
}