*{
    font-family: 'Mulish', sans-serif;
}


.table {
    min-width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 2vh;
    color: white;
}
.xdsoft_date > div, .xdsoft_label > span , .xdsoft_option{
    color: black;
}

.dropdown-acciones {
    overflow: hidden;
}

.main-sidebar {
    background: #0D47A0;
    color: #F57C00;
    min-height: 100%;
}

.nav-item  {
    color: white;
}

.nav-item:hover {
    background-color: rgba(90,164,227,0.22);
}


.btnCreate {
    margin-bottom: 4vh;
}