{% extends 'form.html' %}
{% load  static %}
{% load widget_tweaks %}


{% block page_title %}{{ page_title }}{% endblock %}

{% block form %}
    {% for field in form.visible_fields %}
        <label>{{ field.label }}</label>
        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
    {% endfor %}
{% endblock %}



{% block js %}
    <script src="{% static 'pruebas/pruebas.js' %}"></script>
    <script src="{% static 'js/enviar_ajax.js' %}"></script>
    <script type="application/javascript">
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form = new FormData(this);
            var ruta_destino = window.location.pathname
            enviarConAjax(form, ruta_destino)
        });
    </script>
{% endblock %}