{% extends 'home.html' %}
{% load static %}
{% load widget_tweaks %}



{% block content %}
    <div class="position-relative    container-fluid"></div>
    <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ action }}" name="action">

        <div class="form-group">
            {% for field in form.visible_fields %}
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

{% endblock %}

{% block js %}
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var formdata = $(this).serializeArray();
            $.ajax({
                url: '{%  url 'sede_create_view' %}',
                type: 'POST',
                data: formdata,
                dataType:'json'
            })
                .done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        window.location.href = '{{ sede_list }}';
                        return false;
                    }
                })
                .fail(function (data) {
                    console.log(data);
                })
                .always(function (data) {
                });
        });
    </script>
{% endblock %}