{% extends 'form.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block form %}
    {% for field in form.visible_fields %}
        <label>{{ field.label }}</label>
        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
    {% endfor %}
{% endblock form %}

{% block form_footer %}
    <div class="modal-footer position-relative">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success submit-btn">Aceptar</button>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'sedes/list.js' %}"></script>
    <script src="{% static 'js/enviar_ajax.js' %}"></script>
    <script type="application/javascript">
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form = new FormData(this);
            var ruta_destino = window.location.pathname
            enviarConAjax(form, ruta_destino)
        });
    </script>
{% endblock js %}

