{% extends 'form.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block page_title %}{{ page_title }}{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body d-grid gap-4">
                <div class="card-header">
                    <h3 class="card-title">Editar una Persona</h3>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <label>{{ field.label }}</label>
                                {{ field|add_class:'form-control  my-lg-2'|attr:'autocomplete:off' }}
                            {% endfor %}
                            <hr>
                            <input type="submit" class="bg-primary btn btn-md" value="Guardar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}







