{% load static %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand  navbar-dark">

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>


        <!-- User Settings Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link position-relative" data-toggle="dropdown">
                {% if request.user.imagen %}
                    <img src="{{ request.user.imagen.url }}" class="img-circle elevation-2 position-relative" width="30vh" height="30vh" alt="user_image">
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <h6 class="dropdown-item h6 text-center">AJUSTES DE USUARIO - {{ user.username }}</h6>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item p-2">
                    <i class="fas fa-user mr-2"></i> Editar perfil
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item dropdown-footer">Cerrar Sesión</a>
            </div>
        </li>

    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<nav class="main-sidebar content">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img src="{% static 'img/logo-dgev.png' %}" alt="DGEV Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"> <a href="{% url 'DashboardIndexView' %}" class="text-white"> DGEV ADMIN</a> </span>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-header">PANEL DE ADMINISTRACIÓN</li>
            <li class="nav-item">
                <a href="{% url 'DashboardIndexView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-home"></i>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'SedeTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-map-marker-alt"></i>
                    Sedes
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'FechaTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-calendar-check"></i>
                    Fechas Disponibles
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'PruebaTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-id-card"></i>
                    Pruebas
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ListPersonasView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-users"></i>
                    Personas
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ListCitasView' %}" class="nav-link text-white ">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    Citas Matriculadas
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
</nav>

