{% load static %}

<nav id="main_navbar" class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'DashboardIndexView' %}" class="nav-link">Inicio</a>
        </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- User DropDown -->
        <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.imagen.url }}" class="user-image img-circle elevation-2" alt="User Image">
                <span class="d-none d-md-inline">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                <!-- User image -->
                <li class="user-header bg-primary">
                    <img src="{{ user.imagen.url }}" class="img-circle elevation-2" alt="User Image">

                    <p>
                        {{ user.first_name }} {{ user.last_name }}
                        <small>Ingresado el: {{ user.date_joined }}</small>
                    </p>
                </li>
                <!-- Menu Body -->
                {#                <li class="user-body">#}
                {#                    <div class="row">#}
                {#                        <div class="col-4 text-center">#}
                {#                            <a href="#">Followers</a>#}
                {#                        </div>#}
                {#                        <div class="col-4 text-center">#}
                {#                            <a href="#">Sales</a>#}
                {#                        </div>#}
                {#                        <div class="col-4 text-center">#}
                {#                            <a href="#">Friends</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <!-- /.row -->#}
                {#                </li>#}
                <!-- Menu Footer-->
                <li class="user-footer">
                    <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat float-right">Cerrar Sesión</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<!-- Main Sidebar Container -->
<nav class="main-sidebar content">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img src="{% static 'img/logo-dgev.png' %}" alt="DGEV Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"> <a href="{% url 'DashboardIndexView' %}" class="text-white"> DGEV ADMIN</a> </span>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-header">PANEL DE ADMINISTRACIÓN</li>
            <li class="nav-item">
                <a href="{% url 'DashboardIndexView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-home"></i>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'SedeTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-map-marker-alt"></i>
                    Sedes
                </a>
            </li>


            <li class="nav-item">
                <a href="{% url 'FechaTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-calendar-alt"></i>
                    Fechas Disponibles
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'CreateFechaTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-calendar-plus"></i>
                    Crear Fechas
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'PruebaTemplateView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-id-card"></i>
                    Pruebas
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ListPersonasView' %}" class="nav-link text-white">
                    <i class="nav-icon fas fa-users"></i>
                    Personas
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ListCitasView' %}" class="nav-link text-white ">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    Citas Matriculadas
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
</nav>

