{% extends 'home.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block content %}
    <div class="card">
        <div class="card-body d-grid gap-4">
            <div class="card-header">
                <h3 class="card-title">{{ page_title }}</h3>
            </div>

            <table class="table table-sm mydatatable  table-Light table-bordered table-striped table-hover">
                <thead class="bg-primary">
                <tr>
                    {% for table_items in  table_content %}
                        <th scope="col"> {{ table_items }}</th>
                    {% endfor %}
                    <th scope="col"> Acciones</th>
                </tr>
                </thead>
                <tbody class="h-10">
                </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" id="modal_trigger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                {{ agregar_title }}
            </button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Formulario {{ page_info }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body form-container-card">
                    <div class="div-error"></div>
                    <form action="." method="post" class="container-fluid" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <input type="hidden" value="agregar" name="accion">
                        <input type="hidden" id="id" value="0" name="id">

                        <div class="form-group container-fluid">
                            {% block form %}

                            {% endblock form %}
                        </div>
                        <div class="modal-footer position-relative">
                            <button type="button" class="btn-sm btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn-sm btn-success submit-btn">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

{% endblock js %}


