{% extends 'home.html' %}
{% load  static %}
{% load widget_tweaks %}

{% block content %}
    <div class="card card-default">
        <div class="card-body">

            <div class="card-title btnCreate d-flex justify-content-end container-fluid">
                {% block btnCreate %}

                {% endblock %}
            </div>

            <table class="table table-responsive-md table_template_table mydatatable">
                <thead>
                <tr class="tr_title_header">
                    {% block table_head %}

                    {% endblock %}
                </tr>
                </thead>
                <tbody class="h-10">
                </tbody>
            </table>
            {% block body %}

            {% endblock %}
        </div>
    </div>



{% endblock %}



{% block js %}
    <script src="{% static 'fecha/fecha.js' %}"></script>
    <script src="{% static 'js/enviar_ajax.js' %}"></script>
{% endblock js %}
